<template>
	<b-modal
		id="bv-modal-choose-category"
		ref="modal"
		show>
		<template #modal-title>
				Select Category
		</template>
		<div>
			<template
				v-for="cat in fixedCats"
			>
				<b-button
					:key="cat"
					@click="onClickClose(cat)"
				>
					{{ cat }}
				</b-button>{{ ' ' }}
			</template>
		</div>
	</b-modal>
</template>

<script>
export default {

  name: 'CategoryHelper',

  data () {
		return {
			fixedCats: [
				'Logos of publishing houses',
			]
		}
  },
  methods: {
		onClickClose( cat ) {
			this.$emit( 'input', cat );
			this.$refs.modal.hide()
		}
  }
}
</script>

<style lang="css" scoped>
</style>