<template>
  <div>
    <b-form>
      <b-form-group
        label="File name"
        label-cols-sm="4"
        label-cols-lg="2"
        content-cols-sm
        content-cols-lg="10"
      >
        <b-form-input
          v-model="filename"
          :state="filenameValid"
          placeholder="File name"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Description"
        label-cols-sm="4"
        label-cols-lg="2"
        content-cols-sm
        content-cols-lg="10"
      >
        <b-form-textarea
          v-model="content"
          rows="8"
          placeholder="File description"
          class=desc-field
        ></b-form-textarea>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "DescriptionField",

  data() {
    return {
        filename: '',
        content: '',
    };
  },
  methods: {
    setDescription( desc ) {
        this.content = desc;
    },
    setFilename( fn ) {
        this.filename = fn;
    },
  },
  computed: {
    okToUpload() {
      return this.filename && this.content;
    },
    filenameValid () {
      return this.filename.length > 0;
    }
  }
};
</script>

<style lang="css" scoped>
.desc-field {
  border: 1px solid grey;
  font-family: monospace;
  font-size: 90%;
}
</style>
