<template>
		<b-modal
				id="bv-modal-error"
				ok-only
				header-border-variant="warning"
				show>
				<template #modal-title>
						Error
				</template>
				<div>{{ error }}</div>
		</b-modal>
</template>

<script>
export default {

	name: 'ErrorPopup',

	data () {
		return {
			error: '',
		}
	},
	methods: {
		showModal() {
			this.$bvModal.show('bv-modal-error');
		},
	}
}
</script>

<style lang="css" scoped>
</style>