<template>
  <div class="img-preview" style="height:100%;">
    <div id="canvas-cont" ref="container">
      <canvas ref="canvas"></canvas>
    </div>
    <div id="filename">{{ img.originalName || '—' }}</div>
  </div>
</template>

<script>
function getBase64Image(img) {

  const cont = this.$refs.container.getBoundingClientRect();

  const canvas = this.$refs.canvas;

  canvas.width = cont.width - 4; //img.width;
  canvas.height = cont.height - 4; // img.height;

  const ctx = canvas.getContext("2d");

  // ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);

  const aspect = img.height / img.width;

  let w, h;
  if ( aspect < 1 ) {
    w = Math.min( img.width, canvas.width );
    h = w * aspect;

    if ( h > canvas.height ) {
      h = canvas.height;
      w = h/ aspect;
    }

  } else {
    h = Math.min( img.height, canvas.height );
    w = h / aspect;

    if ( w > canvas.width ) {
      w = canvas.width;
      h = w * aspect;
    }
  }

  ctx.drawImage(img, Math.round( ( canvas.width - w ) / 2 ), Math.round( ( canvas.height - h ) / 2 ), w, h);

  const dataURL = canvas.toDataURL("image/png");

  return dataURL;
}

function getImage(file) {
  return new Promise((resolve /*, reject*/) => {
    const fReader = new FileReader();
    const img = new Image();

    fReader.onload = () => {
      img.src = fReader.result;

      img.onload = () => {
        resolve(getBase64Image.call(this, img));
      };
    };

    fReader.readAsDataURL(file);
  });
}

function setImage(filename) {
  const promise = getImage.call(this, filename).then((img) => ({
    id: img,
    originalName: filename.name,
    fileName: filename.name,
    url: img,
  }));

  promise
    .then((x) => {
      this.img = x;
    })
    .catch(() => {});
}

export default {
  name: "ImagePreview",
  methods: {
    setImage,
  },
  data() {
    return {
      img: '',
    };
  },
};
</script>

<style lang="css" scoped>
.img-preview {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#canvas-cont {
  border:  1px solid grey;
  border-radius:  5px;
  width:  100%;
  flex-grow: 1;
  padding: 1px;
  background-color: #f8f9fa;
}

#filename {
  flex-grow: 0;
  text-align: center;
}
</style>
