<template>
    <div class="login_banner container">
        <b-alert
         variant="warning"
         show>
            <b-icon-exclamation-triangle />
            Not logged in:
            <a :href="$props.loginServer + '/mwoauth/initiate'">
                Log in
            </a>
        </b-alert>
    </div>
</template>

<script>
export default {

  name: 'LoginBanner',

  props: [
        'loginServer'
  ],

  data () {
    return {
    }
  },
}
</script>

<style lang="css" scoped>
.login_banner {
    margin-top: 10px;
}
</style>