<template>
	<div class="status_bar">
		<b-navbar
			variant="light"
		>
			<div id="leftbar">
				<img id="logo" src="logo.svg" />
				<h1><a href="/">{{ title }}</a></h1>
			</div>
			<b-navbar-nav class="ml-auto">
				<ul class="inline-list">
					<li
						v-if="$props.username"
					>
						Logged in as: {{$props.username}}
					</li>
					<li>
						<a :href="getRcLink">
							Recent uploads
						</a>
					</li>
					<li
						v-if="$props.username"
					>
						<a :href="$props.loginServer + '/mwoauth/logout?next=client_bp.index'">Log out</a>
					</li>
				</ul>
			</b-navbar-nav>
		</b-navbar>
	</div>
</template>

<script>

import mwUtils from "@/mwUtils.js";

export default {

  name: 'StatusBar',

  props: [
		'oauthCid',
		'username',
		'wiki',
		'loginServer',
		'title',
  ],

  data () {
		return {
		}
  },
	computed: {
		getRcLink() {
			return mwUtils.getRcForOauthCidUrl( this.$props.wiki, this.$props.oauthCid );
		}
  }
}
</script>

<style lang="css" scoped>
.status_bar {
	font-size: 92%;
}
.inline-list {
	list-style: none;
}
.inline-list li {
	display: inline-block;
	padding-left:  1em;
}

h1 {
	margin:  0;
}

h1 > a {
	color:  inherit;
}

#leftbar {
	display: flex;
	align-items: center;
}

#logo {
	width: 48px;
	margin-right: 10px;
}
</style>