<template>
  <div>
    <b-row class="justify-content-md-center">
      <b-col cols=8>
        <b-form enctype="multipart/form-data" novalidate>
          <b-form-group
            id="fieldset-1"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Wikisource language"
          >
            <b-form-input
              v-model="form.wsLang"
              :state="validateWsLang"
              list="subdomain-list"
            ></b-form-input>
            <datalist id="subdomain-list">
              <option
                v-for="sd in options.wsDomains"
                :key="sd"
              >{{ sd }}</option>
            </datalist>
          </b-form-group>
          <b-form-group
            label="Upload to"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="6"
            v-slot="{ ariaDescribedby }"
          >
            <b-form-radio-group
              id="btn-upload-target"
              v-model="form.uploadTarget"
              :options="options.uploadTargets"
              :aria-describedby="ariaDescribedby"
              name="radios-btn-default"
              @input="onUploadTargetChange"
              buttons
            >
            </b-form-radio-group>
          </b-form-group>
          <b-alert
            v-model="wikisourceUploadWarningShown"
            dismissible
            variant="warning"
            v-if="form.uploadTarget !== 'commons'"
          >
            Only upload to Wikisource if the media is unsuitable for Commons.
            Generally, this will be because the media is non-US media that is
            only in the public domain in the US.
          </b-alert>
          <b-form-group
            label="Move to Commons date"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            v-if="form.uploadTarget !== 'commons'"
          >
            <b-form-input
              v-model="form.commonsDate"
              type=text
              placeholder=2048
              :state="validateCommonsDate"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-1"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Image"
          >
            <b-form-file
              v-model="form.filename"
              :state="Boolean(form.filename)"
              :placeholder="placeholders.fileInput"
              drop-placeholder="Drop file here..."
              @change="filesChange($event.target.name, $event.target.files)"
              accept="image/*"
            >
            </b-form-file>
          </b-form-group>
          <b-form-group
            id="fieldset-1"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Image type"
          >
            <b-form-select
              v-model="form.imgType"
              :options="options.image_types"
            ></b-form-select>
          </b-form-group>
          <b-form-group
            v-if="form.imgType === 'initial'"
            id="fieldset-initial"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Initial"
          >
            <b-form-input
              v-model="form.initial"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            v-if="['photograph', 'illustration' ].indexOf( form.imgType ) !== -1"
            id="fieldset-fignum"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Figure number"
          >
            <b-form-input
              v-model="form.fignum"
              :placeholder="placeholders.figNum"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            v-if="['photograph', 'illustration' ].indexOf( form.imgType ) !== -1"
            id="fieldset-caption"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Caption"
          >
            <b-form-input
              v-model="form.caption"
              :placeholder="placeholders.caption"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Index page"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
             <b-input-group>
              <b-form-input
                v-model="form.index"
                :state="indexExists"
                @change="onIndexChange"
                type=text
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  @click="onIndexClick"
                  variant="outline-primary"
                >
                  Lookup
                </b-button>
                <b-button
                  v-if="false"
                  :disabled="!index_wd"
                  variant="outline-primary"
                  title="See the linked Wikidata item"
                >
                  <img
                    src="wikidata.png"
                  />
                </b-button>
                <b-button
                  :disabled="!form.index"
                  variant="outline-primary"
                >
                  <a
                    :href="indexHref"
                    title="Visit index at Wikisource"
                  >
                    <img src="wikisource.png" width=16/>
                  </a>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group
            id="fieldset-2"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
            label="Page number"
          >
            <b-form-input
              v-model="form.pageNumber"
              :state="validate_page_number"
              type=text
              :placeholder="placeholders.pageNumber"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Title"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
            <b-form-input
              v-model="form.title"
              :state="validateTitle"
              type=text
              :placeholder="placeholders.title"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Source link"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
            <b-form-input
              v-model="form.source"
              type=text
              placeholder='https://archive.org/details/hamlet'
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Publication date"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
            <b-input-group>
              <b-form-input
                v-model="form.date"
                type=text
                :placeholder="placeholders.pubDate"
              ></b-form-input>
              <b-input-group-append is-text>
                Add to title <input
                  type="checkbox"
                  style="margin-left: 1ex;"
                  v-model="form.dateInTitle"
                  aria-label="Add the date to the title"
                >
            </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="Image author"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
            <b-input-group>
              <b-form-input
                v-model="form.author"
                :state="validate_author"
                type=text
                list="author-list"
              ></b-form-input>
              <datalist id="author-list">
                <option v-for="a in options.authorPresets" :key="a">
                  {{ a }}
                </option>
              </datalist>
              <b-input-group-append>
                <b-button
                  v-if="true"
                  variant="outline-primary"
                  title="Lookup at Wikidata"
                  @click="onAuthorWdClick"
                >
                  <img
                    src="wikidata.png"
                  />
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="Image license"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
            <b-form-input
              v-model="form.license"
              :state="validate_license"
              type=text
              list="license-list"
            ></b-form-input>
            <datalist id="license-list">
              <option v-pre>{{PD-US-expired}}</option>
              <option v-pre>{{PD-US-not renewed}}</option>
              <option v-pre>{{PD-US-no notice}}</option>
              <option v-pre>{{PD-old-auto-expired|deathyear=YYYY}}</option>
              <option v-pre>{{PD-old-assumed}}</option>
            </datalist>
          </b-form-group>
          <b-form-group
            label="Categories"
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="9"
          >
          <CategoryTags
            v-model="form.categories"
          />
          </b-form-group>
        </b-form>
      </b-col>
      <b-col cols="4">
        <ImagePreview ref="mainPreview" />
      </b-col>
    </b-row>
    <b-row class="text-center" style="margin-bottom:1rem;">
      <b-col style="text-align: right;">
        <b-button
          v-on:click="onGenerateClick"
        >
          ↓ Generate description
        </b-button>
      </b-col>
      <b-col style="text-align: left;">
        <b-button
          v-on:click="onImportClick"
        >
          Copy from existing file
        </b-button>
      </b-col>
    </b-row>
    <IndexLookUp
      id="indexLookup"
      title="Select index"
      :index="form.index"
      @input="onIndexLookedUp"
      :username="$props.username"
      :wiki="getWikisourceUrl"
      :namespace="indexNS"
    />
    <IndexLookUp
      id="fileLookup"
      title="Select file to import from"
      index=""
      @input="onFileLookedUp"
      :username="$props.username"
      :wiki="getTargetUrl"
      :namespace="fileNS"
    />
    <WikiDataLookUp
      @input="onAuthorWdLookedUp"
    />
    <b-toast id="ws-lookup-toast">
      Looking up index fields from Wikisource.
    </b-toast>
  </div>
</template>

<script>
import ImagePreview from "@/components/ImagePreview.vue";
import IndexLookUp from "@/components/IndexLookUp.vue";
import WikiDataLookUp from "@/components/WikiDataLookUp.vue";
// import PageLookupField from "@/components/PageLookupField.vue";
import CategoryTags from "@/components/CategoryTags.vue";
import filenameUtils from "@/filenameUtils.js";
import imageTypes from "@/imageTypes.js";
import mwUtils from "@/mwUtils.js";
import indexUtils from "@/indexUtils.js";
import wsDomains from "@/wsDomains.js";
import imgInfoStore from "@/imgInfoStore.js";
import wsInfoUtils from "@/wsInfoUtils.js";
import license from "@/license.js";


function constructDescription( form ) {
  let s = "=={{int:filedesc}}==\n";

  if ( form.uploadTarget !== 'commons' ) {
    const dnmtc = wsInfoUtils.getDoNotMoveToCommons( form.wsLang, form.commonsDate );

    if ( dnmtc ) {
      s += "\n" + dnmtc + "\n\n"
    }
  }

  let author = form.author;
  let perm = form.license;

  const typeInfo = imageTypes.getTypeInfo( form.imgType );

  const file = 'File:' + form.index.replace( /.*?:/, '');

  const sourceprefix = form.wsLang === 'mul' ? 'oldwikisource' : ('s:' + form.wsLang);

  const index = sourceprefix + ":" + form.index;
  let flink;
  if ( index ) {
    flink = `''[[${index}|${form.title}]]''`;
  } else if ( form.title ) {
    flink = `''${form.title}''`;
  }

  if ( flink && form.pageNumber ) {
    flink = constructPageNumber( form.pageNumber ) + ` of ` + flink;
  }

  const lang = 'en';

  let description = typeInfo.desc.replace("{src}", flink);

  if (form.imgType === 'initial' ) {
    description = description.replace('{initial}', form.initial);
  }

  description += '. '

  if ( [ 'illustration', 'photograph' ].indexOf(form.imgType) !== -1 ) {

    if ( form.fignum ) {
      description += `\n<br/>'''Image reference:''' "${form.fignum}"`;
    }

    if ( form.caption ) {
      description += `\n<br/>'''Caption:''' "${form.caption}"`;
    }
  }

  description = description.trim();

  description = "{{" + lang + "|1=" + description + "}}";

  let orig = '';
  if ( form.index ) {
    orig = `Complete scan: [[:${file}]]`;
  }

  s += `{{information
 | description    = ${description}
 | date           = ${form.date}
 | source         = ${form.source || ''}
 | author         = ${author}
 | permission     = ${perm}
 | other versions = ${orig}
}}
`;

  let cats = [];

  let typeCats = typeInfo.cats;
  if ( form.imgType === 'initial' && form.initial ) {
    typeCats = typeCats.map( c => c.replace("{initial}", form.initial))
  }

  cats.push(...typeCats);

  cats.push(...form.categories);

  s += "\n" + cats.map( c => `[[Category:${c}]]` ).join("\n")

  return s;
}

function constructPageNumber (num) {
  let s = '';
  if ( [ 'title' ].indexOf( num.toLowerCase() ) !== -1 ) {
    s += 'title page';
  } else {
    s += `page ${num}`
  }
  return s;
}

function constructTitle( form ) {

  if ( !( form.filename && form.title ) ) {
    return ''
  }

  let s = form.title;

  if ( form.dateInTitle && form.date ) {
    s += ` (${form.date})`;
  }

  const typeInfo = imageTypes.getTypeInfo( form.imgType );

  if ( typeInfo ) {

    let comp = typeInfo.title_comp;

    if ( form.imgType === 'initial' && form.initial ) {
      comp = comp.replace( "{initial}", form.initial );
    }
    s += ` - ${comp}`;
  }

  if ( form.pageNumber ) {
    s += ' - ' + constructPageNumber( form.pageNumber );
  }

  s += "." + form.filename.name.split('.').pop();

  return s;
}

export default {
  name: "UploadDetails",

  components: {
    IndexLookUp,
    WikiDataLookUp,
    ImagePreview,
    // PageLookupField,
    CategoryTags,
  },

  props: [
    'username'
  ],

  data() {
    return {
      img: '',
      description: '',
      indexExists: false,
      index_wd: '',
      wikisourceUploadWarningShown: true,
      indexNS: mwUtils.NS.INDEX,
      fileNS: mwUtils.NS.FILE,
      form: {
        wsLang: 'en',
        file: null,
        filename: null,
        caption: '',
        fignum: '',
        name: '',
        imgType: "illustration",
        pageNumber: '',
        source: '',
        date: '',
        dateInTitle: true,
        initial: '',
        title: '',
        author: '',
        license: '',
        index: '',
        categories: [],
        uploadTarget: 'commons'
      },
      placeholders: {
        pageNumber: '42',
        title: 'Hamlet',
        source: 'https://archive.org/details/hamlet',
        pubDate: '1901',
        figNum: 'Fig. 1',
        caption: 'Original caption text',
        fileName: 'File name',
        fileDescription: 'File description',
        fileInput: 'Choose a file or drop it here...'
      },
      options: {
        image_types: [],
        wsDomains: [],
        uploadTargets: [
          { text: 'Commons', value: 'commons' },
          { text: 'Wikisource', value: 'wikisource' },
        ],
        authorPresets: [
          '{{illegible}}',
          '{{unknown engraver}}',
          '{{unknown photographer}}'
        ]
      },
    };
  },
  created () {

    for (const [k, v] of Object.entries( imageTypes.specialTypes ) ) {
      this.options.image_types.push( {
        text: v.name,
        value: k
      })
    }

    this.options.wsDomains = wsDomains.subdomains;
  },
  watch: {
    'form.uploadTarget': function(v) {
      if ( ['commons', 'wikisource'].indexOf( v ) === -1 ) {
        this.form.uploadTarget = 'commons';
      }
    },
    'form.imgType' (v) {
      if ( !imageTypes.isValidType(v)) {
        this.form.imgType = 'illustration;'
      }
    }
  },
  computed: {
    validate_author() {
      return this.form.author.length > 2;
    },
    validate_page_number() {
      return this.form.pageNumber.length > 0;
    },
    validate_license() {
      return license.validateLicense( this.form.license );
    },
    validateTitle() {
      return this.form.title.length > 0;
    },
    validateWsLang() {
      return wsDomains.subdomains.indexOf( this.form.wsLang ) !== -1;
    },
    validateCommonsDate() {
      const year = new Date().getFullYear();
      const commonsDate = parseInt( this.form.commonsDate );

      return ( commonsDate > year ) && ( commonsDate < year + 100 );
    },
    indexHref() {
      if ( !this.form.index || !this.form.wsLang ) {
        return undefined;
      }
      return `https://${this.form.wsLang}.wikisource.org/wiki/${this.form.index}`;
    },
    getWikisourceUrl() {
      if ( this.form.wsLang === 'mul' ) {
        return 'https://wikisource.org';
      }

      return `https://${this.form.wsLang}.wikisource.org`;
    },
    getTargetUrl() {
      return 'https://commons.wikimedia.org';
    }
  },
  methods: {
    filesChange(fieldName, fileList) {
      this.form.file = fileList[0];
      this.$refs.mainPreview.setImage(fileList[0]);

      const guessedNum = filenameUtils.guessPagenumber(fileList[0].name);

      if ( guessedNum ) {
        this.form.pageNumber = guessedNum.toString();
      }
    },
    onIndexClick() {
      this.$bvModal.show('indexLookup');
    },
    onAuthorWdClick() {
      this.$bvModal.show('bv-modal-wikidata-lookup');
    },
    onIndexLookedUp(index) {

      // e.g. blank entered
      if ( !index ) {
        return;
      }

      const wiki = this.getWikisourceUrl;

      this.form.index = index;

      // semi-live
      this.onIndexEntered(index);

      // live updates
      this.onIndexChange(index);

      // For now, this is all we have, but Wikidata would be better if it exists.
      this.$bvToast.show( 'ws-lookup-toast' );

      indexUtils.getIndexFields( wiki, index )
        .then( fields => {

          if ( !fields ) {
            return;
          }

          this.form.title = fields.title || '';
          this.form.author = fields.illustrator || '';
          this.form.date = fields.year || '';
        } );

      imgInfoStore.getStoredDetails(this.form);
    },
    onIndexEntered(index) {
      const wiki = this.getTargetUrl;

      index = index.replace(/^.*?:/, '');

      mwUtils.guessSource(wiki, "File:" + index)
        .then( url => {
          this.form.source = url;
        } );
    },
    onIndexChange(index) {
      const wiki = this.getTargetUrl;

      index = index.replace(/^.*?:/, '');

      mwUtils.pageExists(wiki, "File:" + index)
        .then( exists => {
          this.indexExists = exists;
        } );
    },
    onUploadTargetChange( target ) {
      this.$emit( 'uploadTarget', target );
    },
    onGenerateClick() {

      const desc = constructDescription( this.form );
      const filename = constructTitle( this.form );

      this.$emit( 'descriptionReady', filename, desc);

      imgInfoStore.storeUploadDetails(this.form);
    },
    onImportClick() {
      this.$bvModal.show('fileLookup');
    },
    onFileLookedUp(filename) {

      mwUtils.getWikitext( this.getTargetUrl, filename)
        .then( desc => {
          this.$emit( 'descriptionReady', filename, desc);
        } );
    },
    onAuthorWdLookedUp(wdItem) {
      if (wdItem && wdItem.id) {
        this.form.author = `{{creator|wikidata=${wdItem.id}}}`;
      }
    },
    init() {
      // Called after setup

      if ( this.form.index ) {
        this.onIndexLookedUp(this.form.index);
      }
    }
  },
};
</script>

<style lang="css">

legend {
  font-weight: bold;
  text-align: right;
}
</style>
