<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Pagelister tool</h1>

        The pagelister tool provides page listings from 3rd party sources in the
        Wikisource ProofreadPage extension <tt>&lt;pagelist/&gt;</tt> format.

        <h2>REST API</h2>

        <ul>
            <li>
                Endpoint: <tt>/pagelist/v1/list</tt>

                <div class="args">
                    URL arguments:
                    <ul>
                        <li>
                            <tt>source</tt>: The 3rd party source. Must be one of:
                            <ul>
                                <li>
                                    <tt>ia</tt>: The Internet Archive
                                </li>
                                <li>
                                    <tt>ht</tt>: Hathi Trust
                                </li>
                            </ul>
                        </li>
                        <li>
                            <tt>id</tt>: The 3rd party ID.
                        </li>
                    </ul>
                </div>
                <div class="example">
                    Example: <a href="/pagelist/v1/list?source=ia&id=harpersnewmonthl12harp">
                        /pagelist/v1/list?source=ia&id=harpersnewmonthl12harp
                        </a>
                </div>
                <div class="example">
                    Example: <a href="/pagelist/v1/list?source=ht&id=mdp.39015026866726">
                        /pagelist/v1/list?source=ht&id=mdp.39015026866726
                        </a>
                </div>
            </li>
            <li>
                Endpoint: <tt>/pagelist/v1/images</tt>

                <div class="args">
                    URL arguments:
                    <ul>
                        <li>
                            <tt>source</tt>: The 3rd party source. Must be one of:
                            <ul>
                                <li>
                                    <tt>ia</tt>: The Internet Archive
                                </li>
                                <li>
                                    <tt>ht</tt>: Hathi Trust
                                </li>
                            </ul>
                        </li>
                        <li>
                            <tt>id</tt>: The 3rd party ID.
                        </li>
                    </ul>
                </div>
                <div class="example">
                    Example: <a href="/pagelist/v1/images?source=ia&id=harpersnewmonthl12harp">
                        /pagelist/v1/images?source=ia&id=harpersnewmonthl12harp
                        </a>
                </div>
                <div class="example">
                    Example: <a href="/pagelist/v1/images?source=ht&id=mdp.39015026866726">
                        /pagelist/v1/images?source=ht&id=mdp.39015026866726
                        </a>
                </div>
            </li>
        </ul>
        <hr>
        Source code: <a href="https://phabricator.wikimedia.org/source/iltools/">https://phabricator.wikimedia.org/source/iltools/</a>
    </body>
</html>