<template>
  <div id="app">
    <StatusBar
      ref="StatusBar"
      :oauthCid="oauthCid"
      :username="username"
      :loginServer="loginServer"
      :wiki="wiki"
      :title="title"
    />
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <LoginBanner
      ref="loginBanner"
      v-if="username === null"
      :loginServer="loginServer"
    />
    <router-view
      :username="username"
    />
    <Footer
      :toolName="title"
      :bugUrl="bugUrl"
      :sourceUrl="sourceUrl"
    />
  </div>
</template>

<script>

import StatusBar from '@/components/StatusBar.vue'
import Footer from '@/components/Footer.vue'
import LoginBanner from '@/components/LoginBanner.vue'

export default {
  name: 'App',
  components: {
    StatusBar,
    LoginBanner,
    Footer
  },
  data () {
    return {
      username: undefined,
      loginServer: '',
      wiki: '',
      title: "Wikisource Image Uploader",
      bugUrl: "https://phabricator.wikimedia.org/project/board/5221/",
      sourceUrl: "https://phabricator.wikimedia.org/source/iltools/browse/main/tools/img-upload",
      oauthCid: process.env.VUE_APP_OAUTH_CID,
      useBeta: true,
    }
  },
  mounted () {
    this.useBeta = process.env.VUE_APP_USE_BETA_WIKI === 'true';

    this.loginServer = process.env.VUE_APP_BACKEND_URL;
    const url = this.loginServer + "/identify";

    fetch(url)
      .then( res => res.json() )
      .then( data=> {
        this.username = data.username || null;
        this.useBeta = data.beta;

        this.wiki = "https://commons.wikimedia";
        if ( this.useBeta ) {
          this.wiki += ".beta.wmflabs";
        }
        this.wiki += ".org";
      } );
  }
};

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app h1 {
  text-align:  center;
}

#nav {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.form-control::placeholder {
  opacity: 0.5 !important;
}
</style>
